<div>
  <form
    *ngIf="!isSuccessful"
    [formGroup]="registrationForm"
    (ngSubmit)="registrationForm.valid && onSubmit()"
    novalidate>
    <div>
      <label>Username
      <input
        type="text"
        formControlName="username"
        required />
      </label>
    </div>
    <div>
      <label>Password
      <input
        type="password"
        formControlName="password"
        required />
      </label>

      <button type="submit">
        Sign Up
      </button>
      <a routerLink="../login">Already have an account?</a>
    </div>
  </form>
</div>
