<div>
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="form.username"
        #username="ngModel"
        required />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="form.password"
        #password="ngModel"
        required />

      <button type="submit">
        Sign Up
      </button>
      <a routerLink="../login">Already have an account?</a>
    </div>
  </form>
</div>
