<div>
  <form
    *ngIf="!isLoggedIn"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
    <div>
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="form.username"
        #username="ngModel"
        required />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="form.password"
        #password="ngModel"
        required />
    </div>

    <button type="submit">
      Login
    </button>
  </form>
  <div>
    Logged in as {{ roles }}.
  </div>
</div>
