<div>
  <form
    *ngIf="!isLoggedIn"
    [formGroup]="loginForm"
    (ngSubmit)="loginForm.valid && onSubmit()"
    novalidate>
    <div>
      <label>Username
      <input
        type="text"
        formControlName="username"
        required />
      </label>
    </div>
    <div>
      <label>Password
      <input
        type="password"
        formControlName="password"
        required />
      </label>
    </div>

    <button type="submit">
      Sign In
    </button>
    <a routerLink="../register">Don't have an account?</a>
  </form>
  <div>
    Logged in as {{ roles }}.
  </div>
</div>
