<div class="home-container">
  <h2>Welcome to our Product Recommendation Service!</h2>
  <p>Here you can get recommendations concerning SEB's products by answering just a couple of questions.
  Unfortunately, as a security measure, you have to register an account and log in first in order to use our services.</p>
  <p>Fortunately, to facilitate your experience, we have a few spare preset accounts. Please, use them wisely:</p>
  <table class="product-table">
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Authorities</th>
    </tr>
    <tr>
      <td>customer</td>
      <td>password</td>
      <td>Can get product recommendations.</td>
    </tr>
    <tr>
      <td>product_manager</td>
      <td>password</td>
      <td>Can get product recommendations and manage products.</td>
    </tr>
  </table>
</div>
