/* You can add global styles to this file, and also import other style files */
@import "src/assets/styles/_variables.scss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: left;
}

// TOP NAVBAR

.top-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: $dark-base;
  overflow: hidden;


  a {
    line-height: 0.7;
    text-decoration: none;
    background-color: transparent;
  }

  ul {
    a {
      display: block;
      padding: 2.65rem 1.5rem;
      color: #FFF;
    }
    a:hover {
      background-color: #DDD;
      color: black;
      cursor: pointer;
    }
    .active{
      background-color: $green-seb;
      color: white;
    }
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  #brand {
    background-color: $green-seb;
    display: inline-block;
    padding: 2rem 1rem;
    height: 2rem;
    width: 4rem;
    line-height: inherit;
    white-space: nowrap;
  }
}

// GENERIC CONTAINERS

.content-container {
  padding: 10rem 4rem 4rem;
  background-color: $grey-base;
  min-height: 300px;
}

.footer {
  background-color: $dark-base;
  color: $grey-base;
  font-size: 14px;
  padding: 4rem 3rem;
}

.home-container {
  font-size: 1.3rem;
  padding: 0 3rem 4rem;
}

// FORMS

.form-container {
  padding: 1rem 6rem;
  font-size: 1.2rem;
}

.form-group {
  padding: 1rem;
}

.seb-form {

  input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: $green-seb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }

  .extra-link {
    text-align: center;
  }

}

// TABLES

.product-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #DDD;

  th, td {
    text-align: left;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #DDD;
  }

}

// BUTTONS

.back-button {
  width: 100%;
  background-color: $dark-base;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.add-product-button {
  width: 100%;
  background-color: $green-seb;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.edit-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  background-color: $dark-base;
  color: white;
}

.delete-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  background-color: $red-pale;
  color: white;
}

// ALERTS

.alert-danger {
  padding: 10px;
  background-color: $red-pale;
  color: white;
  font-size: 1rem;
}

.alert-success {
  padding: 10px;
  background-color: $green-pale;
  color: white;
  font-size: 1rem;
}

.alert-big-success {
  padding: 6rem;
  margin: 6rem;
  background-color: $green-pale;
  color: white;
  font-size: 1.5rem;
}
