<nav class="top-bar">
  <a routerLink="home">
    <img
      id="brand"
      src="assets/images/seb_logo.png"
      alt="logo" />
  </a>
  <ul>
    <li>
      <a routerLink="home"
         routerLinkActive="active">HOME</a>
    </li>
    <li *ngIf="showProductRecommendations">
      <a routerLink="products"
         routerLinkActive="active">PRODUCTS</a>
    </li>
    <li *ngIf="showProductManagement">
      <a routerLink="products-manage"
         routerLinkActive="active">MANAGE PRODUCTS</a>
    </li>
    <li>
      <a
        *ngIf="!isLoggedIn"
        routerLink="login"
        routerLinkActive="active">LOGIN</a>
      <a
        *ngIf="isLoggedIn"
        (click)="logout()">LOGOUT</a>
    </li>
  </ul>

</nav>

<div class="content-container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <p>
    © Skandinaviska Enskilda Banken AB (publ)
  </p>
  <p>
    SEB Group
  </p>
</div>
