#products{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin: 20px 0;

  th {
    border: 1px solid #ddd;
    font-size: 18px;
    padding: 15px 10px;
    text-align: left;
    background-color: #60CD18;
    color: #EEE;
  }

  td {
    border: 1px solid #DDD;
    padding: 15px;
  }

  tr:nth-child(even){
    background-color: #F2F2F2;
  }
  tr:nth-child(odd){
    background-color: #EEE;
  }

  tr:hover {
    background-color: #DDD;
  }
}

select {
  width: 100%;
  padding: 12px 16px;
  margin: 8px 0;
  color: black;
  font-size: 18px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #F1F1F1;
}

input[type=radio] {
  margin: 12px 8px;
}

#updateButton {
  border: 2px solid #333;
  background-color: #333;
  color: #DDD;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 3px #999;
}

#updateButton:active {
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}
