<div>
  <div>

    <fieldset>
      <legend>Questionnaire:</legend>
    <label for="ageBracket">
      What age category do you belong to?
    </label> <br />
    <select
      id="ageBracket"
      [(ngModel)]="ageBracket">
      <option value="JUNIOR">Junior (0-17)</option>
      <option value="ADULT">Adult (18-64)</option>
      <option value="SENIOR">Senior (65+)</option>
    </select> <br />

    <label for="incomeBracket">
      What income category do you belong to?
    </label> <br />
    <select
      id="incomeBracket"
      [(ngModel)]="incomeBracket">
      <option value="NO_INCOME">No income (0)</option>
      <option value="LOW_INCOME">Low income (1-12000)</option>
      <option value="MEDIUM_INCOME">Medium income (12001-40000)</option>
      <option value="HIGH_INCOME">High income (40001+)</option>
    </select> <br />

    <label>
      Are you a student?
    </label> <br />
    <input
      type="radio"
      id="student"
      name="student"
      value="true"
      [(ngModel)]="student"/>
    <label for="student">Yes</label>
    <input
      type="radio"
      id="notStudent"
      name="student"
      value="false"
      [(ngModel)]="student"/>
    <label for="notStudent">No</label> <br />

    <button
      id="updateButton"
      type="button"
      (click)="searchProductsByCriteria()">
      Update Recommended Products
    </button>
    </fieldset>

  </div>
  <table id="products">
    <tr>
      <th>Product</th>
    </tr>
    <tr *ngFor="let product of products; let i = index">
      <td>{{product.productName}}</td>
    </tr>
  </table>
</div>
